@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";


body {
  background-color: $utSmokey;
  font-family: $paragraph, sans-serif;
}

.login{
  position: fixed;
  top: 10px;
  right: 10px;
}